<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Historiales</ion-title>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>


 <ion-buttons slot="end" *ngIf="canNuevo">
  <ion-button (click)="crearHistorial()">
        <ion-icon name="add" slot="start"></ion-icon>
        Nuevo
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- FILTROS -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Filtros</ion-card-title>
    </ion-card-header>
   <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu"></ion-back-button>
    </ion-buttons>


    <ion-card-content>

      <ion-item>
        <ion-label>Estado</ion-label>
        <ion-select [(ngModel)]="filtroEstado" (ionChange)="aplicarFiltros()">
          <ion-select-option value="todos">Todos</ion-select-option>
          <ion-select-option *ngFor="let e of estados" [value]="e">
            {{ e }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="floating">
          Buscar (animal, especie, raza, dueño, estado, id)
        </ion-label>
        <ion-input [(ngModel)]="filtroTexto" (ionInput)="aplicarFiltros()"></ion-input>
      </ion-item>

      <ion-button expand="block" color="medium" (click)="limpiarFiltros()">
        Limpiar filtros
      </ion-button>

    </ion-card-content>
  </ion-card>

  <!-- LOADING -->
  <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>

  <!-- ERROR -->
  <ion-text color="danger" *ngIf="errorMsg">
    <p>{{ errorMsg }}</p>
  </ion-text>

  <!-- LISTADO -->
  <ion-list *ngIf="!loading">

    <ion-item *ngFor="let vm of historialesFiltrados">

      <ion-label>
        <h2>
          {{ vm.animalNombre }} ({{ vm.estado }})
        </h2>

        <p><b>Especie:</b> {{ vm.especie || '-' }}</p>
        <p><b>Raza:</b> {{ vm.raza || '-' }}</p>
        <p><b>Dueño:</b> {{ vm.duenoLabel }}</p>
      </ion-label>

      <!-- VER -->
      <ion-button *ngIf="canVer" color="warning" fill="outline" slot="end" (click)="verDetalle(vm)">
        <ion-icon name="eye-outline"></ion-icon>
      </ion-button>

      <!-- BORRAR -->
      <ion-button *ngIf="canEliminar" color="danger" fill="outline" slot="end" (click)="eliminarHistorial(vm)">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>

      <!-- LÍNEAS -->
      <ion-button color="medium" fill="outline" slot="end" (click)="verLineas(vm)">
        <ion-icon name="list-outline"></ion-icon>
      </ion-button>

    </ion-item>

  </ion-list>

  <ion-text *ngIf="historialesFiltrados.length === 0 && !loading">
    <p>No hay historiales para mostrar.</p>
  </ion-text>
  <ion-button expand="block" fill="outline" (click)="volver()" style="margin-top:12px;">
      Volver
  </ion-button>
</ion-content>
