<!-- src/app/facturacion/productos/list-productos/list-productos.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Productos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="cargarProductos()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="!loading">
    <ion-item
      *ngFor="let p of productos"
      button
      detail
      (click)="verDetalle(p.idElemento)"
    >
      <!-- Avatar con foto -->
      <div class="avatar" slot="start" aria-hidden="true">
        <img
          *ngIf="p.foto; else productoPlaceholder"
          class="avatar-img"
          [src]="getProductoFotoUrl(p)"
          alt="image"
        />
        <ng-template #productoPlaceholder>
          <div class="avatar-placeholder">
            <ion-icon name="camera-outline"></ion-icon>
          </div>
        </ng-template>
      </div>

      <ion-label>
        <h2>{{ p.Elemento?.nombre || ('Producto #' + p.idElemento) }}</h2>
        <p>{{ p.Elemento?.descripcion || '-' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-spinner *ngIf="loading" class="spinner-center"></ion-spinner>

  <div *ngIf="errorMsg" class="error-msg">
    {{ errorMsg }}
  </div>
</ion-content>
