<!-- src/app/animales/list-animales/list-animales.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-title>Animales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="cargarAnimales()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="!loading">
    <ion-item
      *ngFor="let a of animales"
      button
      detail
      (click)="verDetalle(a.idAnimal)"
    >
      <!-- Avatar con foto -->
      <ion-avatar class="animal-avatar" slot="start">
        <img
          *ngIf="a.foto; else animalPlaceholder"
          [src]="getAnimalFotoUrl(a)"
          alt="image"
        />
      </ion-avatar>

      <ng-template #animalPlaceholder>
        <ion-avatar class="animal-avatar" slot="start">
          <img src="assets/No-Image-Placeholder.svg" alt="no image" />
        </ion-avatar>
      </ng-template>

      <ion-label>
        <h2>{{ a.nombre || '—' }}</h2>
        <p>{{ a.especie || '—' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-spinner *ngIf="loading" class="spinner-center"></ion-spinner>

  <div *ngIf="errorMsg" class="error-msg">
    {{ errorMsg }}
  </div>
</ion-content>
