<!-- <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" class="wakyma-menu">
      <ion-header lines="none">
        <ion-toolbar>
          <img src="assets/icon/favicon.png" class="menu-logo">
          <ion-title>DG Mascotas</ion-title>
        </ion-toolbar>
      </ion-header>
  
      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/dashboard" routerDirection="root" detail="false">
              <ion-icon name="grid-outline" slot="start"></ion-icon>
              <ion-label>Dashboard</ion-label>
            </ion-item>
            <ion-item routerLink="/citas" detail="false">
              <ion-icon name="calendar-outline" slot="start"></ion-icon>
              <ion-label>Agenda de Citas</ion-label>
            </ion-item>
            <ion-item routerLink="/mascotas" detail="false">
              <ion-icon name="paw-outline" slot="start"></ion-icon>
              <ion-label>Mis Mascotas</ion-label>
            </ion-item>
            <ion-item routerLink="/facturas" detail="false">
              <ion-icon name="receipt-outline" slot="start"></ion-icon>
              <ion-label>Facturación</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
  
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Panel de Recepción</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="logout()">
              <ion-icon name="log-out-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <router-outlet></router-outlet>
      </ion-content>
    </div>
  </ion-split-pane>
  <ion-split-pane contentId="main-content">
    El menú (está a la izquierda) -->
    <!-- <ion-menu contentId="main-content"> -->
      <!-- ... tu código del menú con los botones y enlaces ... -->
    <!-- </ion-menu> -->
  
    <!-- El contenido (está a la derecha) -->
    <!-- <div class="ion-page" id="main-content">
      <ion-router-outlet></ion-router-outlet> <--- ESTA LÍNEA ES VITAL
    </div>
  </ion-split-pane> -->
  